@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

/* :root định nghĩa global */
:root {
  --logo-font: "Momo Signature", cursive;
  --main-font: "TASA Orbiter", sans-serif;
  --dark-bg: #000000ef;
  /* Màu nền xanh tối chính */
  --dark-accent: #000000;
  /* Màu xanh tối phụ (cho card, nav) */
  --light-text: #ccd6f6;
  /* Màu chữ sáng (chính) */
  --secondary-text: #8892b0;
  /* Màu chữ phụ */
  --accent-color: #a78bfa;
  /* Màu nhấn (cyan/mint) */

  /* Thiết lập font */
  font-family: var(--main-font);
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-bg);
  color: var(--light-text);
  overflow-x: hidden;
}

main {
  position: relative;
  z-index: 10;
  justify-content: center;
  margin: 0 auto;
}

/* Hiệu ứng animation chung cho các link */
a {
  transition: all 0.3s ease;
}

a:hover {
  filter: brightness(1.2);
  text-shadow: 0 0 5px var(--accent-color);
  transform: translateY(-3px);
}

button {
  transition: transform 0.3 ease;
}

button:hover {
  cursor: pointer;
  transform: translateY(-3px);
}